<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link href="~/css/site.css.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
                <a class="navbar-brand fw-bold d-flex align-items-center" href="@Url.Action("Index", "Home")">
                    <img src="~/img/icon.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
                    TuVozLocal
                </a>

                <!-- Botón Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Contenido Colapsable -->
                <div class="collapse navbar-collapse" id="navbarNav">

                    <!-- Menú principal -->
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Home")">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ubicaciones
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Ciudades")">Ciudades</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Departamentos")">Departamentos</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Barrios")">Barrios</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Comunas")">Comunas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark disabled" href="#" tabindex="-1" aria-disabled="true">Proyectos Sociales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "LiderSocial")">Líder Social</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Encuestas")">Encuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Votar")">Votación</a>
                        </li>
                    </ul>

                    <!-- Login -->
                    <div class="d-flex">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center text-muted py-3">
        <div class="container d-flex justify-content-center align-items-center">
            <span>&copy; 2024 - TuVozLocal</span>
            <a asp-controller="Home" asp-action="Index" class="ms-2 text-decoration-none">Inicio</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/validate-form.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
