@model IEnumerable<Encuesta>

@{
    ViewData["Title"] = "Encuestas: Encuestas disponibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mt-4">Encuestas disponibles</h1>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="text-md-center">Listado de encuestas registradas.</p>
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="bi bi-clipboard2-plus mr-2"></i> Nueva Encuesta</a>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.FechaCreacion)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Nombres)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Apellidos)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Sector)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.UbicacionProyecto)</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                        <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sector.SectorId)</td>
                        <td>@Html.DisplayFor(modelItem => item.UbicacionProyecto.UbicacionProyectoId)</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.EncuestaId" class="btn btn-sm btn-warning" title="Editar">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.EncuestaId" class="btn btn-sm btn-info" title="Ver detalles">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.EncuestaId" class="btn btn-sm btn-danger" title="Eliminar">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>