@model Voto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Voto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encuesta.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiderSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiderSocial.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProyectoSocial.LiderSocialId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VotoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
